@model ProductListViewModel
@if (Model.Products == null || Model.Products.Count == 0)
{
    <span class="alert alert-danger">No Product exist</span>
}
else
{
    <a class="btn btn-xs btn-danger pr-2 pl-2 fs-2" asp-controller="Product" asp-action="Index" asp-route-page="@Model.CurrentPage" asp-route-category="@Model.CurrentCategory" asp-route-sort="@Model.SortProduct">@Model.SortProduct</a>
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Unit Price</th>
                <th>UnitsInStock</th>
                <th></th>
            </tr>
        </thead>
        <tbody>


            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        @item.ProductName
                    </td>
                    <td>
                        @item.UnitPrice
                    </td>
                    <td>
                        @item.UnitsInStock
                    </td>
                    <td>
                        <a class="btn btn-xs btn-success">Add To Cart</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <product-list-pager current-category="@Model.CurrentCategory"
                        current-page="@Model.CurrentPage"
                        page-count="@Model.PageCount"
                        page-size="@Model.PageSize">
    </product-list-pager>

}
